.navLinks {
  @apply hidden font-lato uppercase h-6 md:inline-flex cursor-pointer hover:scale-105 transition-all duration-150 ease-out lg:text-lg xl:text-xl text-black;
}

.hamburger {
  @apply no-underline font-lato uppercase text-lg;
}
