@media only screen and (min-width: 900px) {
  .react-bg-img-hd {
    background-attachment: fixed;
  }
  .react-bg-img-placeholder {
    background-attachment: fixed;
  }
}

.HeroImageDark .react-bg-img-hd {
  filter: brightness(0.5);
}
.HeroImageDark .react-bg-img-placeholder {
  filter: brightness(0.5);
}

.airplaneImage .react-bg-img-hd {
  background-position: 20% 50%;
}
