.footerIcons {
  @apply h-7 w-7 cursor-pointer;
}

.footerSitemap {
  @apply my-0.5 cursor-pointer text-white;
}

.footerBackground .react-bg-img-hd {
  filter: brightness(0.5);
  background-position: top;
  background-attachment: local;
}
